* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.Overlay {
  display: flex;
  width: 420px;
  padding: 30px;
  flex-direction: column;
  padding: 30px;
  gap: 30px;
  margin: 0 auto;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25), 0 4px 4px 0 rgba(0, 0, 0, 0.25),
    0 9px 46px 8px rgba(0, 0, 0, 0.12);
}

.Buttons {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
  font-size: 14px;
  font-weight: 400;
}

h2 {
  font-size: 20px;
  font-weight: 500;
}

p {
  font-size: 14px;
  font-weight: 400;
}

.annuler {
  background: #ffffff;
  padding: 6px 12px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
}

.supprimer {
  display: flex;
  padding: 6px 12px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 3px;
  background: #1867c0;
  border: none;
  box-shadow: 2px 2px 2px -1px rgba(24, 103, 192, 0.25);
  color: #ffffff;
}
